.dropdown {
  width: 100%;
  margin: 5px 0px;
}

.dropdown_content {
  height: 40px;
  width: 100%;
  color: #fff;
  font-family: Roboto;
  font-size: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #132432;
  padding-left: 30px;
  margin: 20px 0px;
}

.alert-enter {
  opacity: 0;
}
.alert-enter-active {
  opacity: 1;
  transition: opacity 2s;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transition: opacity 2ms;
}
