.project_page {
	width: 100%;
	min-height: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(172deg, #57c1ff 0%, rgba(255, 255, 255, 0) 41%);

	&_inner {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&_wrap {
		height: 100%;
		width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
}