.input {
	margin: 15px 0px;
	width: 100%;
	padding: 20px 15px;
	font-family: Roboto;
	font-size: 17px;
	text-transform: uppercase;
	border-radius: 5px;
	border: 1px solid rgb(91, 167, 104);
	outline: none;
}

.calculator_room {
	width: 100%;
	color: #467797;
	border: 1px solid rgb(91, 167, 104);
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	padding: 10px 15px;
	outline: none;
	background: transparent;
}

.call_form {
	color: #fff;
	width: 100%;
	margin: 10px 0px;
	padding: 18px 15px;
	font-family: Roboto;
	font-size: 17px;
	border-radius: 5px;
	border: 1px solid rgb(91, 167, 104);
	outline: none;
	background: transparent;
}

